# This file contains options passed to Bazel when running tests.
# They are used by CI and by non-Bazel test scripts.

build:ci --verbose_failures
build:ci --sandbox_debug
build:ci --spawn_strategy=standalone
build:ci --genrule_strategy=standalone
test:ci --test_strategy=standalone

test --test_output=errors

# Import a git-ignored .bazelrc.local file, if it exists.
try-import %workspace%/.bazelrc.local
