/bazel-*
/tests/bcr/bazel-*
.DS_STORE
.ijwb/
.bazelrc.local
/MODULE.bazel.lock
/tests/bcr/MODULE.bazel.lock
/tests/bcr/.bazeliskrc
/tests/bcr/.bazelversion
/tests/bcr_mirror_json/bazel-*
/tests/bcr_mirror_json/MODULE.bazel.lock
__pycache__/
