/bazel-*
/tests/bcr/bazel-*
.DS_STORE
.ijwb/
.bazelrc.local
/MODULE.bazel.lock
/tests/bcr/MODULE.bazel.lock
/tests/bcr/.bazeliskrc
/tests/bcr/.bazelversion
/tests/bcr_mirror_json/bazel-*
/tests/bcr_mirror_json/MODULE.bazel.lock
/tests/bcr_mirror_json/.bazeliskrc
/tests/bcr_facts/bazel-*
/tests/bcr_facts/.bazeliskrc
/tests/bcr_tofu/bazel-*
/tests/bcr_tofu/MODULE.bazel.lock
/tests/bcr_tofu/.bazeliskrc
__pycache__/
